*{
    margin:0
}
#parent{
    display:flex;
}

nav ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

nav ul li{
    padding:20px;
    background: yellow;
    margin:2px;
    list-style: none;
}

#logo{
    width:80vw;
    height: 200px;
    background: red;
}

#layer{
    padding:10px 0;
    border-bottom:2px solid gray;
    background: rgb(219,219,219);
    width:100%;
}

body{
    min-height: 100vh;
    display:flex;
    flex-direction: column;
}

nav,footer{
    flex-shrink:0;
}

section{
    flex-grow:1;
    display:flex;
    justify-content:center;
    align-items:center
}


section span{
    background: yellow;;
}
